<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Custom Login Page</title>
	<style>
		.failed{
		color:red;
		}
	</style>
</head>
<body>
<h3>My Custom Login Page</h3>

<form action="#" method="POST" th:action="@{/authenticateTheUser}">
	<!-- Check for login error -->
	<div th:if="${param.error}">
		<i class="failed">Sorry ! You entered invalid username/password</i>
	
	</div>
	<p>
		User name: <input name="username" type="text"/>
	
	</p>
	<p>
		Password: <input name="password" type="password"/>
	
	</p>
	<input type="submit" vlaue="Login"/>

</form>

</body>
</html>